@model InventoryManagement.Models.Domain.Item

    ViewData["Title"] = "AddItem";
}

<h1 >AddItem </h1>

<div class="mt-2 " style="width:50%">
    <form asp-action="AddItem">

        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>

            <input asp-for="Name" type="text" class="form-control">

            <span class="text-danger" asp-validation-for="Name">
            </span>

        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label">Price</label>

            <input asp-for="Price" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Price">
            </span>
        </div>

        <div class="mb-3">
            <label asp-for="Quantity" class="form-label">Quantity</label>

            <input asp-for="Quantity" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Quantity">
            </span>
        </div>

        @if (TempData["msg"] != null)
        {
            <div class="mb-3">
                @TempData["msg"]
            </div>
        }

        <button type="submit" class="btn btn-primary">Submit</button>

        <a href="/Item/ShowItem" class="btn btn-primary">All Items</a>



    </form>

</div>

<div class="mt-2" style="width:100%">

    <div class="row">
        <div class="col-md-4 mb-5">


            <a href="/Item/AddItem" class="btn btn-primary">

                Add Item

            </a>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>
                        Action
                    </td>

                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.Quantity</td>
                        <td>
                            <a href="/Item/EditItem?id=@item.Id" class="btn btn-success">

                                Edit

                            </a>
                            <a /class="btn btn-danger">

                                Delete

                            </a>

                        </td>

                    </tr>
                }
            </thead>



        </table>


    </div>
</div>
